@inherits LayoutComponentBase
@namespace BlazorCatAPI.Shared
@using Microsoft.AspNetCore.Components.Web
@using System.Security.Claims;
@inject ThemeService ThemeService
@inject IHttpContextAccessor _httpContextAccessor

<MudThemeProvider IsDarkModeChanged="@OnThemeChanged" IsDarkMode="isDark" />
<MudDialogProvider />
<MudSnackbarProvider />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<body style="height: 100vh;">
    <MudLayout Class="fill-height">
        <MudAppBar Dense=true>
            <MudText Typo="Typo.h6">Adopt a Cat</MudText>
            <MudSpacer />
            <MudToggleIconButton @bind-Toggled=isDark
                                 Icon="@Icons.Material.Filled.LightMode"
                                 ToggledIcon="@Icons.Material.Filled.DarkMode" />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Mr-Titos" Target="_blank" />
            <LoginControl></LoginControl>
        </MudAppBar>
        <MudMainContent Class="pt-16 px-16 fill-height" style="display: flex; justify-content: center;">
            @Body
        </MudMainContent>
    </MudLayout>
</body>
</html>

@code {
    private ClaimsPrincipal user;
    private bool isDark = false;

    protected override void OnInitialized()
    {
        user = _httpContextAccessor.HttpContext.User;
        var idUser = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier);
        if (user.Identity.IsAuthenticated)
        {
            if (!ThemeService.isSessionDarkMode.ContainsKey(idUser.Value))
                ThemeService.isSessionDarkMode.Add(idUser.Value, false);
            else
                isDark = ThemeService.isSessionDarkMode[idUser.Value];
        }
    }

    public async Task OnThemeChanged()
    {
        var idUser = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier);
        ThemeService.isSessionDarkMode[idUser.Value] = isDark;
    }
}